.root {
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    -fx-background-color: #ffffff;
}

.title-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

.vboxLayout {
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-background-color: #003788;
}

.text-field, .date-picker {
    -fx-max-width: 250px;
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.upload-button, .signup-button {
    -fx-background-color: #0057D9;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-pref-width: 100px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.upload-button:hover, .signup-button:hover {
    -fx-background-color: #003C9D;
}

.cancel-button {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-pref-width: 100px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.cancel-button:hover {
    -fx-background-color: #d32f2f;
}

.sign_logo_container {
    -fx-font-size: 2em;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 3);
}


